.left {
    background-color: aquamarine;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
    background-color: aliceblue;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 20px;
    height: 100px;
    background-color: blue;
}

a {}

a.button {}